<div class="background">
    
<div class="site-logo">
    <figure id="logo">
      <svg width="100%" height="100%" viewBox="0 0 148 128">
        <defs>
          <mask id="circle-mask">
            <rect fill="white" width="100%" height="100%"></rect>
            <circle id="logo-mask" fill="black" cx="120" cy="96" r="28"></circle>
          </mask>
        </defs>
        <polygon id="logo-hexagon" points="64 128 8.574 96 8.574 32 64 0 119.426 32 119.426 96" mask="url(#circle-mask)"></polygon>
        <circle id="logo-circle" cx="120" cy="96" r="20"></circle>
      </svg> 
    </figure>
    <div class="site-title">
      <div id="logo-text" class="site-title-text">
        train<span>track</span>
      </div>
    </div>
  </div>
  
</div>